<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete the suer</title>
</head>
<body>
    <form method="post" action="/user/<%=indiUser.id%>?_method=DELETE">


            <input placeholder="enter password" name="password" />
            <button>Delete</button>
        




    </form>
</body>
</html>